*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.btn{
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover {
   
  background-color: random;
  //color: black;
   transform: scale(1.2);
 
}

